:root {
    /* Variáveis padrão para o tema claro */
    --bg-color: #ffffff;
    --text-color: #000000;
    --menu-bg-color: #000000; /* Menu escuro no tema claro */
    --menu-text-color: #ffffff;
}

[data-theme="dark"] {
    /* Variáveis para o tema escuro */
    --bg-color: #121212;
    --text-color: #ffffff;
    --menu-bg-color: #ffffff; /* Menu claro no tema escuro */
    --menu-text-color: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
    padding: 0;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.spacer {
    flex-grow: 1;
}

.navbar > li {
    position: relative;
}

.navbar > li > a {
    display: block;
    padding: 1.5em 1.2em;
    text-decoration: none;
    font-size: 1rem;
    color: var(--menu-text-color); 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar > li > a:focus,
.navbar > li > a:hover {
    background-color: #777;
    color: #fff; 
    outline: 0.1em solid #fff; 
}

#button_mode {
    background: var(--menu-bg-color);
    border: none;
    cursor: pointer;
    padding: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--menu-text-color);
    font-family: 'Montserrat';
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    margin-left: 5em;
}

#button_mode:hover,
#button_mode:focus {
    background-color: #777;
    color: #fff; 
    outline: 0.1em solid #fff;
}

#theme-icon{
    margin-right: 0.5em;
}

#imagephda{
    width: 20%;
}

.textSize{
    display:inline-flex;
    padding: 0.5em;
}

.textSize1{
    padding-right: 0.5em;
    padding-left: 0.5em;
}