body {
  font-family: 'Montserrat';
  text-align: center;
  
}

#title-container {
  margin-top: 1em;
  font-size: 2em;
}

#text-container {
  display: inline-block;
  visibility: visible;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 1em;
  width: 50%;
  margin-top: 2em;
  font-weight: 450;
}

#text-container1, #text-container2, #text-container3, #text-container4, #text-container5 {
  padding-bottom: 2.5em;
}

@media (max-width: 600px) {
  #text-container {
    display:inline-block;
    text-align: left;
    max-width: 20em;
  }
}

