body {
    font-family: 'Montserrat';
    text-align: center;
  }
  
  #title-container {
    margin: 20px;
    font-size: 1.2em;
  }
  
  .drop-zone {
    display: inline-block;
    width: 10px;
    padding: 5px;
    margin: 0 5px;
    border-bottom: 2px solid #333;
  }
  
  #word-bank {
    margin-top: 20px;
  }
  
  .draggable {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: move;
  }
  