body {
  font-family: 'Montserrat';
  text-align: center;
  
}

#title-container {
  margin: 1em;
  font-size: 2em;
}

#text-container {
  display: inline-block;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 2em;
  font-size: 1em;
  width: 40em;
}

@media (max-width: 600px) {
  #text-container {
    display:inline-block;
    text-align: left;
    max-width: 20em;
  }
}

